.border {
    @include resp {
        @for $var from $border-min to $border-max {
            &-radius-#{$var} {
                border-radius: ptr($var * 1px);
            }
            &-#{$var} {
                border-width: ptr($var * 1px);
            }
        }
        &-style {
            &-solid {
                border-style: solid;
            }
            &-dotted {
                border-style:dotted;
            }
            &-double {
                border-style:double;
            }
        }
    }
}
