.m {
    @include resp {
        &-auto {
            margin: auto;
        }
        &-t-auto {
            margin-top: auto;
        }
        &-r-auto {
            margin-right: auto;
        }
        &-b-auto {
            margin-bottom: auto;
        }
        &-l-auto {
            margin-left: auto;
        }
        &-h-auto {
            margin-left: auto;
            margin-right: auto;
        }
        &-v-auto {
            margin-top: auto;
            margin-bottom: auto;
        }
        @for $var from $margin-min to $margin-max {
            &-#{$var} {
                margin: ptr($var * 1px);
            }
            &-t-#{$var} {
                margin-top: ptr($var * 1px);
            }
            &-r-#{$var} {
                margin-right: ptr($var * 1px);
            }
            &-b-#{$var} {
                margin-bottom: ptr($var * 1px);
            }
            &-l-#{$var} {
                margin-left: ptr($var * 1px);
            }
            &-h-#{$var} {
                margin-left: ptr($var * 1px);
                margin-right: ptr($var * 1px);
            }
            &-v-#{$var} {
                margin-top: ptr($var * 1px);
                margin-bottom: ptr($var * 1px);
            }
        }
    }
}
