@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Regular.ttf");
}
.font-montserrat {
  font-family: montserrat;
}

@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: poppins;
  src: url("/font/poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
.font-poppins {
  font-family: poppins;
}

html {
  font-size: 9px;
  overflow: auto;
}
@media (min-width: 575px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 23px;
  }
}

:root {
  --white: white;
  --black: black;
  --red: red;
  --blue: blue;
  --green: green;
  --yellow: yellow;
  --blue-1: #B0D8DA;
  --gray-1: #A6A6A6;
  --gray-2: #9D9D9D;
}

.container {
  width: 100%;
  max-width: var(--container, 64rem);
  margin-left: auto;
  margin-right: auto;
}

.bg, .bg img, .bg .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.login-input {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--white, white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray, gray);
}

body {
  padding-top: var(--sizeHeader, 0);
}

/*# sourceMappingURL=style.css.map */
